.header {
    .nav {
        padding: 24px 48px;

        li {
            font-size: 24px;
            line-height: 24px;
            margin-right: 48px;

            &:last-child {
                margin-right: 0;
            }

            a {
                border-bottom: 3px solid transparent;
                transition: all .3s;

                &:hover {
                    border-bottom: 3px solid #00000099;
                }
            }
        }
    }
}

.footer {
    padding: 24px 48px;

    .footer-navbar {

        li {
            font-size: 16px;
            line-height: 24px;
            margin-right: 48px;

            &:last-child {
                margin-right: 0;
            }

            a {
                border-bottom: 1px solid transparent;
                transition: all .3s;

                &:hover {
                    border-bottom: 1px solid #00000099;
                }
            }
        }
    }

    .copy-right {
        transform: translateX(-48px);
        font-size: 14px;
        line-height: 21px;
    }
}