@mixin bg-cover {
    background-position: center center;
    background-size: cover;
}

.index {
    .banner {
        .banner-word {
            h2 {
                font-size: 96px;
                line-height: 128px;
                margin-bottom: 48px;
            }

            p {
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 48px;
            }

            .shop-btn {
                width: 35%;
                border: 1px solid #121212;
                padding: 16px 51px;
                font-size: 24px;
                line-height: 24px;
                display: inline;

                &:hover {
                    background-color: #121212;
                    color: #FFF;
                }
            }
        }

        .img-box {
            width: 100%;
            height: 864px;

            @include bg-cover;
        }

        .arrow-btn,
        .info-word {
            font-size: 48px;
            line-height: 48px;
            padding: 36px;
            border: 1px solid #121212;
            display: block;
        }

        .arrow-btn {
            transition: all .3s;

            &:hover {
                background-color: #121212;
                color: #FFF;
            }
        }
    }

    .introduction {
        position: relative;

        .img-box {
            width: 100%;
            height: 960px;

            @include bg-cover;
        }

        .word {
            padding: 96px 100px;

            .introduction-word {
                font-size: 16px;
                line-height: 24px;
            }

            .introduction-title {
                font-size: 72px;
                line-height: 72px;
            }

            .word-mb {
                margin-bottom: 394px;
            }
        }

        .read-me {

            h5 {
                a {
                    display: block;
                    padding: 16px;
                    font-size: 24px;
                    line-height: 24px;
                    border: 1px solid #121212;
                    color: #000000DE;
                    transition: all .3s;

                    &:hover {
                        background-color: #000000DE;
                        color: #FFF;
                    }
                }
            }

            p {
                a {
                    display: block;
                    padding: 16px;
                    font-size: 16px;
                    border: 1px solid #121212;
                    color: #FFF;
                    transition: all .3s;

                    &:hover {
                        background-color: #FFF;
                        color: #000000DE;
                    }
                }
            }

        }

        .read-me-row {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-76%);
        }

        .read-me-reverse {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translateX(-24%);
        }

    }

    .recommend {
        .title {
            margin: 0 auto;
            width: 35%;
            padding: 96px 0;

            h2 {
                font-size: 48px;
                line-height: 64px;
                margin-bottom: 24px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }

        .img-box {
            width: 100%;
            height: 640px;
            background-size: cover;
            background-position: 0 26%;
        }

        .introduct-word {
            display: inline-block;
            background: #FFF;
            padding: 16px;
            margin-top: 33%;

            h3 {
                font-size: 24px;
                line-height: 36px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }

    .article {
        padding: 96px 0;

        .img-box {
            width: 100%;
            height: 600px;

            @include bg-cover;
        }

        h4 {
            font-size: 24px;
            line-height: 31px;
            margin-top: 24px;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
        }
    }
}